<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="item">
                <h2>Rice</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="images/rice.jpeg.webp" style="max-width: 50%;max-height: 100%;" class="rounded" alt="rice">
                    </div>
                    <div class="col-sm-6">
                        <h4>Description</h4>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat molestias error eligendi rem omnis inventore harum, vero nemo accusamus, animi repellendus? Eaque libero amet quae? Corporis voluptas consequatur dolores aliquid?<br><br>
                        Price   :
                        <br>
                        Produced by:
                        <br><br>
                    <form action="" method="POST">
                        <button class="btn btn-success" name="buy">Buy Now</button>
                    </form>                        
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</body>
</html>